@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    input[name="typeUser"]:checked + .type-selector{
        @apply bg-slate-700 text-white;
    }

    .border-all-white{
        @apply border border-white border-solid;
    }

    .hover-primary {
        @apply transition-[background-color] duration-300 hover:bg-hover-primary cursor-pointer
    }
}

.light-blue{
    background-color: #3937b2;
}

.green{
    background-color: #027a0e;
}

.orange{
    background-color: #FFA500;
}

.pink {
    background-color: #92086d;
}

.purple {
    background-color: #800080;
}